body {
    background-color: rgb(255, 235, 182);
    padding-top: 0px;font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px;
    padding: 20px;
 }

   img{
      gap: 25px;
      border-radius: 10px;
      margin: 10px;
   }

 h1 {
    font-size: 200px;
    font-family: 'Raleway', sans-serif;
    background-image: url(Laotop.jpg);
    color: rgba(255, 242, 199, 0.651);
    text-decoration: solid;
    margin-top: 0px;
    border-radius: 10px;
 }
 
 h2 {
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 220, 145);
    color: black;
    border-radius: 10px;
 }

 h3 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 235, 147);
    color: black;
    border-radius: 10px;
 }

 strong{
   font-style: italic;
 }

 p {
    font-size: 25px; 
    text-align: justify;
    color: black;
    font-family: 'Roboto Slab', serif;
 }

 li {
    font-size: 25px;
    color: black;;
    text-align: left;
    font-family: 'Roboto Slab', serif;
}

 .Doladinho {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    gap: 25px;
 }

 .textodoladinho{
   text-align: center; 
   text-align: justify;
 }

.imageminteira{
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 20px;
   width: 100%;
}

.Referência{
   font-size: 22px;
   font-weight: bold;
}

a:hover{
   font-size: 28px;
   color: rgb(80, 0, 160);
   text-decoration: none;
}

a{
   text-decoration: none;
}